@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Poppins:wght@100;200;400&display=swap");

* {
  background-color: black;
  font-family: "Poppins", sans-serif;
  font-family: "PT Serif", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  /* display: flex;
    justify-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.menu_content {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gif {
  width: 75%;
}

.menu_content ol li {
  justify-content: space-between;
  margin: 40px;
  text-decoration: none;
  font-size: 45px;
}

.menu_content ol li a {
  text-decoration: none;
  color: rgb(73, 71, 71);
}

.menu_content ol li a:hover {
  color: white;
}

.menu_content ol li a sup {
  font-size: 27px;
  text-decoration: none;
}

.mid_line {
  width: 2px;
  height: 100%;
  background-color: white;
  justify-content: center;
  margin-left: 150px;
}

h1 {
  margin: 0px;
  font-size: 32px;
  color: white;
}

.bulding {
  margin: 80px;
  margin-top: 150px;
}

.header {
  position: fixed;
  margin-top: 23%;
  margin-left: 1270px;
  opacity: 1;
  transform: rotate(90deg);
}

.header.bar {
  display: flex;
  font-size: 30px;
}

#line-li {
  width: 1.5px;
  height: 50px;
  margin-top: -14px;
  transform: rotate(-90deg);
  background-color: white;
}

.check a {
  display: flex;
  margin-left: -30px;
  color: white;
  text-decoration: none;
  transition: all 0.4s ease;
}

.check .menu:hover {
  font-size: 22px;
  font-weight: bold;
}

.check span.menu {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-left: 35px;
  opacity: 1;
}

/* media query */

@media only screen and (max-width: 600px) {
  .menu {
    grid-template-columns: 1fr;
  }

  .gif {
    width: 100%;
  }

  .bulding {
    margin: 0;
  }

  .menu_content ol li {
    margin: 20px;
    font-size: 35px;
  }

  .menu_content {
    margin-top: 50px;
  }
}
