@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --gradientColorZero: #a960ee;
  --gradientColorOne: #ff333d;
  --gradientColorTwo: #90e0ff;
  --gradientColorThree: #ffcb57;
  --gradientColorZeroTransparent: rgba(169, 96, 238, 0);
  --gradientColorOneTransparent: rgba(255, 51, 61, 0);
  --gradientColorTwoTransparent: rgba(144, 224, 255, 0);
  --gradientColorThreeTransparent: rgba(255, 203, 87, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: 'Baloo Bhai 2', cursive; */
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.567);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.643);
}

/* body {
  overflow-y: visible;
  overflow-x: hidden;
} */

/* Navbar */

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5px;
}

.navcol-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navcol-1 a {
  margin: 0;
  padding: 0;
  padding-top: 12px;
}

.navcol-1 p {
  font-size: 20px;
  color: white;
}

.navcol-1 img {
  width: 360px;
  margin-right: 15px;
}

.navcol-2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.navcol-2 li a {
  text-decoration: none;
  color: white;
  padding: 0 20px;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 3;
  letter-spacing: 0.6px;
}

.gradient-block {
  opacity: 0.6;
  width: 100%;
  height: 74%;
  transform: skewY(-12deg);
  position: absolute;
  transform-origin: 0;
  top: 0;
  z-index: -100;
  /* transform: scale(2); */
  background: radial-gradient(
        var(--gradientColorThree) 23%,
        var(--gradientColorThreeTransparent) 67% 100%
      )
      385px -24px,
    radial-gradient(
        var(--gradientColorOne) 0,
        var(--gradientColorOneTransparent) 60% 100%
      ) -940px 290px,
    radial-gradient(
        var(--gradientColorTwo) 10%,
        var(--gradientColorTwoTransparent) 60% 100%
      ) -120px 250px,
    radial-gradient(
        var(--gradientColorOne) 40%,
        var(--gradientColorOneTransparent) 57% 100%
      )
      495px -44px,
    radial-gradient(
        var(--gradientColorZero) 30%,
        var(--gradientColorZeroTransparent) 67% 100%
      )
      122px -120px,
    radial-gradient(
        var(--gradientColorZero) 10%,
        var(--gradientColorZeroTransparent) 60% 100%
      ) -420px 120px,
    radial-gradient(
        var(--gradientColorTwo) 15%,
        var(--gradientColorTwoTransparent) 50% 100%
      ) -620px 0,
    radial-gradient(
        var(--gradientColorTwo) 25%,
        var(--gradientColorTwoTransparent) 50% 100%
      )
      520px -250px,
    var(--gradientColorZero);
}

@media only screen and (max-width: 600px) {
  .navcol-2 {
    display: none;
  }
}

.main-hero {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  /* margin-top: 1%; */
}

.text-ar h3 {
  font-size: 4.5rem;
  line-height: 1.1;
  padding: 10% 10% 0;
  opacity: 0.8;
  color: #0f1539;
  transform: skewX(0deg);
}

.text-ar p {
  font-size: 1.1rem;
  line-height: 1.6;
  padding: 4% 6% 6% 10%;
}

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.vr-weight {
  font-weight: 500 !important;
}

.btn {
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-left: 10%;
  padding: 7px 12px;
  border-radius: 10px;
  border: none;
  background-color: #0a2540;
  color: white;
}

.make-a-call {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.icon-color {
  color: rgb(5, 251, 5);
}

.txt {
  display: flex;
}

.txt p {
  font-size: 21px;
  line-height: 10px;
  margin-top: 15px;
}

#v-l {
  width: 4px;
  height: 100px;
  border-radius: 2px;
  background-color: black;
  margin-right: 10px;
}

.img-pic {
  position: relative;
  width: 470px;
  height: 470px;
  border-radius: 200px 10px 200px 10px;
  background-color: white;
  backdrop-filter: blur(12px);
  box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px,
    rgb(0 0 0 / 30%) 0px 30px 60px -30px,
    rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}

.hero-pic {
  position: absolute;
  width: 108%;
  right: 20px;
  top: 25px;
}

/* Brand images section */

.our-clients {
  margin-top: 6%;
  margin-bottom: 10%;
}

.block-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 3% 0;
}

.block-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 2% 12%;
}

.brand-clients-heading {
  text-align: center;
  font-size: 2.5rem;
  color: #20123a;
  font-weight: 600;
  margin-bottom: 3%;
}

.img-1 img,
.img-2 img {
  width: 180px;
}

.img-4 img,
.img-5 img {
  width: 120px;
}

.img-3 img {
  height: 120px;
}

/* Works Section */

.works {
  margin-bottom: 9%;
}

.works h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #20123a;
  font-weight: 600;
}

.stylish-underline {
  position: relative;
  font-weight: 600;
}

.stylish-underline::after {
  background-image: url(../images/underline.svg);
  background-repeat: no-repeat;
  background-size: 80% 80%;
  content: "";
  display: block;
  height: 0.3em;
  left: 0.2em;
  /* left: -0.2em; */
  position: absolute;
  top: calc(100% - 0.15em);
  width: calc(100% + 1em);
}

/* video section */

.vid-text-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 8%;
}

/* .video-section {
  padding: 10%;
} */

.vid-desc {
  padding: 10% 15%;
}

.vid-desc h2 {
  color: #20123a;
  font-size: 2rem;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.vid-desc p {
  font-size: 1.3rem;
  font-weight: 400;
}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.video-section video {
  width: 85%;
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.04) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.402) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.577) 0px 30px 60px -30px;
  margin-left: 10%;
}

.gradient-txt {
  background: #fc466b;
  background: -webkit-linear-gradient(to left, #3f5efb, #fc466b);
  background: linear-gradient(to left, #3f5efb, #fc466b);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 600;
}

/* branding */

.branding {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  background: url(../images/gradient.gif);
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.branding-background img {
  width: 90px;
}

.branding-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: black;
  height: 100%;
}

/* footer */

.footer-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

.footer-line p {
  font-size: 1.35em;
}

.love-img img,
.india-img img {
  width: 20px;
  margin-top: 5px;
  margin: 0 6px;
  padding-top: 4px;
}

.footer-section {
  background: #f9f9fa;
  color: black;
  padding: 5rem;
}

.footer-section h3 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 1.3rem;
}

.foot-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.foot-grid .col-1 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.foot-grid .col-1 ul li {
  padding: 8px 0;
}

.foot-grid .col-1 ul li a {
  text-decoration: none;
  color: black;
}

/* copyright and social links */

.copyright-social {
  background: #f9f9fa;
  color: black;
  padding: 2rem;
}

.grid-copy-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.company-logo img {
  width: 60px;
}

.copy-right p {
  text-align: center;
  font-size: 1.1rem;
}

.social-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.social-links a {
  padding: 0 20px;
}

.fa-brands {
  font-size: 20px;
  color: black;
}

/* icons */

.fa-solid {
  margin-right: 10px;
}

.phone-numbers {
  font-weight: 500;
  margin-left: 10px;
}

.address {
  display: flex;
}

.address p {
  margin-left: 8px;
}

.whatsapp-contact a img {
  margin-right: 20px;
  margin-bottom: 20px;
}

.fa-heart{
  color: red;
}

.fa-facebook-f:hover{
  color: #4267B2;
}

.fa-instagram:hover{
  color: red;
}

.fa-twitter:hover{
  color: #00acee;
}
